---
import Layout from "../layouts/Layout.astro";

import "../styles/global-styles.css";

import SectionIntroducer from "@/components/SectionIntroducer.astro";


import Hero from "@/components/home/hero.astro";
import Workflow from "@/components/home/workflow.astro";
import Services from "@/components/home/services.astro";
import Accomplishments from "@/components/home/accomplishments.astro";
import CtaCard from "@/components/CtaCard.astro";
import Testimonies from "@/components/home/testimonies";
---

<Layout>
  <!-- Hero -->
  <Hero />

  <!-- Stats -->
  <!-- <section class="bg-image relative">
  
    <div class="flex justify-center">
      <Image
        loading="eager"
        class="max-w-[300px] h-auto"
        src={rocket}
        alt="starter rocket"
      />
    </div>
    <div class="flex flex-col gap-6 absolute top-0 ">
      <div>
        <span class="md:hidden">+</span><strong>100</strong>
        <p>Projets réalisés</p>
      </div>
      <Image
        loading="eager"
        class=""
        src={leftInformation}
        alt="decorative element"
      />
    </div>
    <div class="flex flex-col gap-6 absolute top-0 right-[20%]">
      <div>
        <strong>100</strong>
        <span class="md:hidden">%</span>
        <p>Client Satisfaits</p>
      </div>
      <Image
        loading="eager"
        class=""
        src={rightInformation}
        alt="decorative element"
      />
    </div>
  </section> -->

  <!-- Mission & Workflow -->

  <Workflow />

  <!-- Services -->
  <Services />

  <!-- Accomplishments -->
  <Accomplishments />

  <!-- CTA -->
  <CtaCard className="m-auto" />

  <!-- Testimonies -->
  <section class="flex flex-col items-center ">
    <SectionIntroducer text="Quelques témoignages"  />
    <Testimonies client:load />
  </section>
</Layout>

<style>
  .bg-image {
    outline: solid 2px red;
    padding-block: 5em;
    background-image: url(/images/background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
</style>
