---
import CtaButton from "../CtaButton.astro";
import SectionIntroducer from "../SectionIntroducer.astro";
---

<section>
  <div class="container flex flex-col items-center justify-center gap-8">
    <SectionIntroducer text="Votre référence en digitalisation" />
    <h1 class="text-center lg:w-3/4">
      Demarquez Vous De La Concurence En Digitalisant Votre Activité !
    </h1>
    <CtaButton text="Nous contacter" />
  </div>
</section>
